/*body{
  background-color: green
}*/

body{
  /*background-color: green;*/
  background-image: url("BlackJack/Images/awesomeBackground.jpg");
  background-repeat: repeat;
}

#dealer{
  position:absolute;
  background-color: red;
  width: 80%;
  height: 20%;
}

#player{
  position: absolute;
  background-color: blue;
  width: 80%;
  height: 20%;
  top: 560px;
  left: 60px;
}

div img{
  position: absolute;
  top: 280px;
  left: 400px;
}

div img:hover{
  margin: none;
  padding: none;
  border: dotted;
}

#dealer .card-one{
  background-color: grey;
  position: absolute;
  width: 20%;
  height: 250px;
  left: 814px;
  background-position: 0px 0px;
  transition: all .25s ease;
  /*border: dotted;
  background-image: url("/Users/JPallath/src/Project1/BlackJack/Images/CardBack.png");
  border-color: #808080 #000000 #000000 #808080;
  border-width: 1px;
  border-style: solid;
  color: #000000;
  font-size: 20pt;*/
}

#dealer .card-two{
  background-color: grey;
  /*background-image: url("/Users/JPallath/src/Project1/BlackJack/Images/CardBack.png");*/
  position: absolute;
  width: 20%;
  height: 250px;
  left: 631px;
  transition: all .25s ease;
  /*background-position: -190px 0px;*/
  /*border: dotted;
  background-image: url("/Users/JPallath/src/Project1/BlackJack/Images/CardBack.png");
  border-color: #808080 #000000 #000000 #808080;
  border-width: 1px;
  border-style: solid;
  color: #000000;
  font-size: 20pt;*/
}

#player .card-one{
  background-color: grey;
  position: absolute;
  width: 20%;
  height: 250px;
  background-position: -1875px -1060px;
  transition: all .25s ease;
  /*left: 0px;
  border: dotted;
  background-image: url("/Users/JPallath/src/Project1/BlackJack/Images/CardBack.png");
  border-color: #808080 #000000 #000000 #808080;
  border-width: 1px;
  border-style: solid;
  color: #000000;
  font-size: 20pt;*/
}

#player .card-two{
  background-color: grey;
  position: absolute;
  width: 20%;
  height: 263px;
  left: 181px;
  background-position: -380px 0px;
  transition: all .25s ease;
  /*border: dotted;
  background-image: url("/Users/JPallath/src/Project1/BlackJack/Images/CardBack.png");
  border-color: #808080 #000000 #000000 #808080;
  border-width: 1px;
  border-style: solid;
  color: #000000;
  font-size: 20pt;*/
}

.cash{
  position: absolute;
  background: yellow;
  width: 370px;
  height: 20px;
  z-index: 1;
  top: 180px;
  text-align: right;
}

.cash:hover{
  background: green;
}

.active{
  background-image: url("BlackJack/Images/OldTimeyDeck.png");
  background-repeat: no-repeat;
  background-size : 1150%;
  transform: rotate(360deg);
}
